@model ContactPro.Models.Category

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <div class="card drop-shadow p-5">
        <h3 class="text-center">Are you sure you want to delete this category?</h3>
        <div>
            <hr />
            <dl class="row">
                <dt class="col-sm-6 text-end">
                    Category Name:
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Name)
                </dd>
            </dl>

            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <div class="row">
                    <div class="col-6 text-end">
                        <a class="btn btn-outline-primary rounded-pill" asp-action="Index"><i class="bi bi-chevron-left"></i> Back to List</a>
                    </div>
                    <div class="col-6">
                        <input type="submit" value="Delete" class="btn btn-danger rounded-pill" />
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>

